@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --animate-fade-in: fade-in 0.5s ease-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in {
  animation: fade-in 0.7s ease-out forwards;
}
